html 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}

button 
{
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    /* text-transform: uppercase; */
    cursor: pointer;
}

ul 
{
    padding: 0;
    margin: 0;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
}

body 
{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

@font-face 
{
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.otf') format('otf');
    src: url('../fonts/Inter-Medium.otf') format('otf');
    src: url('../fonts/Inter-Bold.otf') format('otf');
}

@font-face 
{
    font-family: 'Product Sans';
    src: url('../fonts/Product Sans Regular.ttf') format('ttf');
    src: url('../fonts/Product Sans Bold.ttf') format('ttf');
}

:root 
{
    --White: #FFFFFF;
    --Graphite-Black: #1B1B1B;
    --Graphite_Black: #181818;
    --GrayBrown: #3D3333;
    --MuslimGreen: #30C600;
}

.container 
{
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}
/* ================================ Header =========================== */
.header
{
    background-image: url(../img/header-bg.png), linear-gradient(#151b13, #234627);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 977px;
}
.nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 81px;
}
.nav-list
{
    display: flex;
    gap: 0 100px;
    flex-wrap: wrap;
}
.nav-item
{
    font-size: 20px;
    font-weight: 700;
    color: var(--White);
}
.nav-link:hover,
.nav-link:focus
{
    color: var(--MuslimGreen);
}
.inner
{
    display: flex;
    justify-content: space-around;
}
.block-1
{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.block-1_text
{
    font-size: 40px;
    font-weight: 500;
    color: var(--White);
    margin-bottom: 15px;
}
.block-1_title
{
    font-size: 80px;
    font-weight: 700;
    color: var(--MuslimGreen);
    margin-bottom: 22px;
}
.block-1__text
{
    color: var(--White);
    width: 426px;
    margin-bottom: 37px;
}
.form
{
    display: flex;
    border: 3px solid var(--White);
    border-radius: 38px;
    margin-bottom: 60px;
}
.input
{
    color: var(--White);
    padding: 25px 36px 25px 46px;
    width: 275px;
}
.input::placeholder
{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 60%);
}
.input-btn
{
    font-size: 14px;
    font-weight: 700;
    background: linear-gradient(#30C600, #363434);
    border-radius: 38px;
    padding: 20px 23px;
    color: var(--White);
    width: 144px;
}
.block-1-text
{
    color: var(--White);
    margin-bottom: 31px;
}
.box
{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}
.box-img
{
    width: 260px;
}
.block-2
{
    display: flex;
    flex-direction: column;
    padding-top: 105px;
}
.block-2_title
{
    font-size: 40px;
    font-weight: 500;
    color: var(--White);
    width: 405px;
    margin-bottom: 16px;
}
.block-2_text
{
    color: var(--White);
    width: 440px;
    margin-bottom: 45px;
}
/* ============================ Verify =================== */
.section-verify
{
    background: linear-gradient(#141313, #195206);
}
.verify-block
{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}
.verify-img
{
    width: 950px;
}
.verify-title
{
    font-size: 70px;
    font-weight: 500;
    width: 704px;
    color: var(--White);
    margin-bottom: 20px;
}
.verify-text
{
    color: var(--White);
    width: 415px;
    margin-bottom: 50px;
}
.verify-button
{
    display: flex;
    gap: 0 30px;
}
.veryfi-btn
{
    font-size: 26px;
    background-color: var(--MuslimGreen);
    color: var(--White);
    border-radius: 7px;
    padding: 15px 60px;
}
.verify_btn
{
    font-size: 26px;
    color: var(--White);
    border: 5px solid var(--White);
    border-radius: 7px;
    padding: 15px 12px;
}
.btn
{
    padding: 15px 38px;
}
/* ============================== Need ==================== */
.need-block
{
    padding-top: 256px;
    padding-left: 109px;
    position: absolute;
}
.need-title
{
    font-size: 60px;
    font-weight: 500;
    color: var(--MuslimGreen);
    width: 704px;
    margin-bottom: 40px;
}
.need-text
{
    font-size: 26px;
    color: var(--White);
    width: 596px;
    margin-bottom: 56px;
}
.need-btn
{
    font-size: 26px;
    padding: 19px 89px;
    width: 422px;
    height: 62px;
    text-transform: uppercase;
    text-align: center;
    color: var(--White);
    background-color: var(--MuslimGreen);
}
/* =========================== Card ===================== */
.card-box
{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 110px;
    padding-left: 244px;
}
.card-title
{
    font-size: 50px;
    font-weight: 700;
    color: var(--Graphite-Black);
    width: 953px;
    margin-bottom: 21px;
}
.card-inner span
{
    color: var(--MuslimGreen);
}
.card-text
{
    font-size: 26px;
    width: 864px;
    color: var(--GrayBrown);
}